[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python-headless = "*"
mediapipe = "*"
deepface = "*"
image-quality = {git = "https://github.com/ocampor/image-quality"}

[dev-packages]

[requires]
python_version = "3.10"